*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
:root {
  --DarkBlue: hsl(233, 26%, 24%);
  --LimeGreen: #31d35c;
  --BrightCyan: #2bb7da;

  --GrayishBlue: hsl(233, 8%, 62%);
  --LightGrayishBlue: #f3f4f6;
  --VeryLightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --font-w300 : 300;
  --font-w400 : 400 ;
  --font-w700 : 700;
}

html, body{
font-size: 18px;
font-family: 'Public Sans', sans-serif;

}


.grid{
  display: grid;
  place-items: center;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
a{
  text-decoration: none;
}